

ul{
  list-style-type: none;
  padding: 40px;
  overflow:hidden;
  background-color: #111;
}

li a {
  float: right;
  color: whitesmoke;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: rgb(173, 27, 27);
}

.grid{
  display: grid;
  grid-template-columns: 300px 1fr;
}


.About,.Work,.Contact {
  
  padding: 100px;
  margin: 100px;
}

.Content{
  font-family: "Times New Roman", Times, serif;
  font-style:italic;

}

.grid div:nth-child(even){
  background:lightgrey;
}

.grid div:nth-child(odd){
  background:whitesmoke;
}